.header-top {
    background-color: #4682B4;
    color: #f3f7fa;
    font-size: 15px;
    font-weight: bold;
}

.header-banner {
    height: 250px;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
}