<hr>
<section class="container">
  <h5>Proyectos</h5>
  <div class="row">
    <app-detail-proyecto (eventMoverArriba)="getEventMoverArriba($event)" (eventMoverAbajo)="getEventMoverAbajo($event)"
      (eventEditar)="getEventEditar($event)" (eventBorrar)="getEventBorrar($event)" *ngFor="let proyecto of proyectos"
      [proyecto]="proyecto" class="col-md-12">
    </app-detail-proyecto>
  </div>
  <div *ngIf="Login()" class="text-center">
    <app-btn-add (click)="clickAgregar()" data-bs-toggle="modal" data-bs-target="#proyectoModal"></app-btn-add>
  </div>
</section>

<!-- Modal -->
<div *ngIf="Login()" class="modal fade" id="proyectoModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{formTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
          <div>
            <label for="titulo" class="form-label">Título del proyecto: </label>
            <input formControlName="titulo" type="text" class="form-control" id="titulo">
          </div>
          <div *ngIf="Titulo?.errors" class="mb-3 text-danger">
            <small *ngIf="Titulo?.hasError('required')">
              El título del proyecto es requerido.
            </small>
          </div>
          <div class="mt-3">
            <label for="descripcion" class="form-label">Descripción: </label>
            <textarea formControlName="descripcion" class="form-control" id="descripcion" rows="5"></textarea>
          </div>
          <div *ngIf="Desc?.errors" class="mb-3 text-danger">
            <small *ngIf="Desc?.hasError('required')">
              La descripción es requerida.
            </small>
            <small *ngIf="Desc?.hasError('maxlength')">
              La descripción no debe exceder los 1000 carácteres.
            </small>
          </div>
          <div class="mt-3">
            <label for="urlImagen" class="form-label">URL de la imagen: </label>
            <input formControlName="urlImagen" type="text" class="form-control" id="urlImagen">
          </div>
          <br>
          <button class="btn btn-success">Confirmar</button>
          <button class="btn btn-secondary mx-3" type="reset">Limpiar</button>
        </form>
      </div>
    </div>
  </div>
</div>