<section class="container">
    <div class="d-md-flex">
        <div class="text-center perfil">
            <img *ngIf="!ValidAvatar()" class="img-shadow" width="150" height="150" src="../../../assets/img/avatardefecto.png" alt="foto">
            <img *ngIf="ValidAvatar()" class="img-shadow" width="150" height="150" src="{{sobreMi?.urlAvatar}}" alt="foto">
            <h5 class="mt-2">
                {{sobreMi?.titulo}}
            </h5>
        </div>
        <div class="mt-md-3">
            <div class="d-flex justify-content-between">
                <h5>Sobre mí</h5>
                <app-btn-edit (click)="OpenModal()" data-bs-toggle="modal" data-bs-target="#sobreMiModal" class="float-right" *ngIf="Login()"></app-btn-edit>
            </div>
            <p class="text-justify">
                {{sobreMi?.descripcion}}
            </p>
        </div>
    </div>
</section>

  
  <!-- Modal -->
  <div *ngIf="Login()" class="modal fade" id="sobreMiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Sobre Mí</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
            <div>
                <label for="titutosm" class="form-label">Título: </label>
                <input formControlName="titulo" type="text" class="form-control" id="titulosm">
            </div>
            <div *ngIf="Titulo?.errors" class="mb-3 text-danger">    
                <small *ngIf="Titulo?.hasError('required')">
                    El título es requerido.
                </small>
            </div>
            <div class="mt-3">
                <label for="descsm">Descripción: </label>
                <textarea formControlName="descripcion" id="descsm" class="form-control" rows="3"></textarea>
            </div>
            <div *ngIf="Desc?.errors" class="mb-3 text-danger">    
                <small *ngIf="Desc?.hasError('required')">
                    La descripción es requerida.
                </small>
                <small *ngIf="Desc?.hasError('maxlength')">
                    La descripción no debe exceder los 1000 carácteres.
                </small>
            </div>
            <div class="mt-3">
                <label for="avatarsm" class="form-label">URL de la imagen de perfil: </label>
                <input formControlName="urlAvatar" type="text" class="form-control" id="avatarsm">
            </div>
            <div class="mt-3">
                <label for="fondosm" class="form-label">URL de la imagen de fondo (banner): </label>
                <input formControlName="urlFondo" type="text" class="form-control" id="fondosm">
            </div>
            <br>
            <button class="btn btn-success">Actualizar información</button>
            <button class="btn btn-secondary mx-3" type="reset">Limpiar</button>
          </form>
        </div>
      </div>
    </div>
  </div>